*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f5f5;
    min-height:100vh;
    padding:30px 20px;
    text-align:center;
}

h3{
    color:#000000;
    font-size:26px;
    margin-bottom:40px;
    font-weight:bold;
}

.judul{
    font-size:32px;
    font-weight:bold;
    margin-bottom:20px;
}

.total-text{
    font-size:22px;
    color:#555;
}

.total{
    font-size:36px;
    font-weight:bold;
    margin-bottom:35px;
}

.qr-box{
    width:230px;
    height:230px;

    margin:0 auto 35px;

    background:white;
    border:2px solid #666;
    border-radius:20px;

    display:flex;
    justify-content:center;
    align-items:center;
}

.qr-box img{
    width:180px;
    height:180px;
}

.info{
    font-size:18px;
    font-weight:bold;
    color:#333;
    margin-bottom:40px;
}

.timer{
    font-size:28px;
    font-weight:bold;
    margin-bottom:30px;
}

.btn-batal{
    display:block;

    width:260px;
    margin:0 auto;

    padding:15px;

    background:#d40a0a;
    color:white;

    text-decoration:none;
    border-radius:12px;

    font-size:22px;
    font-weight:bold;

    box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

.btn-batal:hover{
    background:#e60000;
}

.btn-status{
    display:block;

    width:260px;
    margin:20px auto;

    padding:15px;

    background:#000000;
    color:white;

    text-decoration:none;
    border-radius:12px;

    font-size:18px;
    font-weight:bold;
}
